<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newpermission.dao.SysAclMapper">
  <resultMap id="BaseResultMap" type="com.newpermission.pojo.SysAcl">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="acl_module_id" jdbcType="INTEGER" property="aclModuleId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
  </resultMap>
  <!-- <resultMap id="BaseResultMap" type="com.newpermission.pojo.SysAcl">
    
      WARNING - @mbg.generated
   
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="acl_module_id" jdbcType="INTEGER" property="aclModuleId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
  </resultMap> -->
  
  <select id="getUrlsByRoleId" parameterType="java.lang.Integer" resultType="string">
  	SELECT url FROM sys_acl a WHERE EXISTS 
  	(SELECT 1 FROM sys_role_acl r WHERE r.acl_id = a.id AND r.role_id = #{roleId})
  </select>
  
  <select id="selectUrlById" parameterType="java.lang.Integer" resultType="string">
  	select url from sys_acl where id = #{id}
  </select>
  
  <select id="selectUrl" resultType="java.lang.String">
  	select url from sys_acl where id = 1
  </select>
  
  <select id="getUrlsByUserId" parameterType="java.lang.Integer" resultType="string">
  	SELECT a.url from sys_acl a RIGHT JOIN sys_role_acl r ON r.acl_id = a.id WHERE EXISTS (
		SELECT 1	from sys_role_user  ru WHERE ru.user_id = #{userId} AND ru.role_id = r.role_id
	)
  </select>
  
  <select id="getDeptUrlsByUserId" parameterType="java.lang.Integer" resultType="string">
  	select a.url from sys_acl a left join sys_dept_acl da on da.acl_id = a.id where exists (
  		select 1 from sys_dept_user du where du.user_id = #{userId} and du.dept_id = da.dept_id
  	)
  </select>
</mapper>