<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newpermission.dao.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.newpermission.pojo.SysDept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
  </resultMap>
  
  <update id="batchUpdateDeptGroup" parameterType="SysDept">
  	<foreach collection="depts" index="i" item="dept" separator=";">
			<choose>
				<when test="i == 0">
					update sys_dept dept set 
					parent_id = #{dept.parentId}, 
					name = #{dept.name},
					level = #{dept.level},
					remark = #{dept.remark},
					seq = #{dept.seq},
					operator = #{dept.operator},
					operate_ip = #{dept.operateIp} where id = #{dept.id}
				</when>
				<otherwise>
					update sys_dept set level = #{dept.level} where id = #{dept.id}
				</otherwise>
			</choose>
		</foreach>
  </update>
</mapper>